.form {
    display: flex;
}
.form input {
    padding: 10px;
    flex: 1;
    border: none;
    border-bottom: 2px solid #22b8cf;
    outline: none;
    font-size: 20px;
    font-weight: bold;
}
.create-button {
    background-color: #22b8cf;
    color: #f2f2f2;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    transition: 0.1s ease-in-out;
}
.create-button:active {
    transform: scale(0.94);
}
