@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
body {
    font-family: "Noto Sans KR", sans-serif;
}
.todo_wrap {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); /* 그림자 */
    width: 700px;
    height: 700px;
    margin: 0 auto;
    margin-top: 80px;
}
.title {
    background-color: #22b8cf;
    text-align: center;
    font-size: 30px;
    padding: 20px 0px 20px 0px;
}
.form_wrapper {
    padding: 1rem;
    border-bottom: 1px solid #22b8cf;
}
.todos_wrapper {
    min-height: 5rem;
}
