@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
body {
    font-family: "Noto Sans KR", sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#input {
    width: 80%;
    padding: 20px;
    font-size: 25px;
    font-weight: bold;
    border: none;
    background-color: white;
    margin-bottom: 20px;
    outline: none;
    border-bottom: 2px solid #a3c2ff;
}
.title {
    -webkit-user-select: none;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
    margin-top: 50px;
    background-color: #035afc;
    color: #f2f2f2;
    width: 700px;
    height: 125px;
    font-size: 70px;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sub_title {
    display: none;
}
.content-list {
    overflow-y: scroll;
    width: 1000px;
    height: 35rem;
    padding: 10px;
    background-color: white;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
    margin: 20px;
    display: flex;
    flex-direction: column;
}
.clear-button {
    font-size: 30px;
    color: red;
    font-weight: bold;
    margin: 10px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    user-select: none;
}
.clear-button:hover {
    transform: scale(1.2);
}
.todo-text {
    margin-left: 10px;
}
.content {
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 5rem;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    transition: 0.3s ease-in-out;
}
.buttons {
    display: flex;
    justify-content: center;
    user-select: none;
}
.buttons .create-button {
    width: 100px;
    height: 50px;
    cursor: pointer;
    background-color: white;
    outline: none;
    border: none;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
    margin: 10px;
    border-radius: 5px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;
}
input {
    font-family: "Noto Sans KR", sans-serif;
}
#add-button {
    width: 150px;
    height: 60px;
    outline: none;
    border: none;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
    font-family: "Noto Sans KR", sans-serif;
    transition: ease-in-out 0.2s;
}
#add-button:hover {
    background-color: #2576f7;
    color: white;
}
.buttons .clear-all-button {
    width: 100px;
    height: 50px;
    cursor: pointer;
    background-color: #f72537;
    outline: none;
    border: none;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
    margin: 10px;
    border-radius: 5px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s ease-in-out;
}
.create-button:hover {
    background-color: #2576f7;
    color: #f2f2f2;
}
.create-button:active {
    transform: scale(0.93);
}
.clear-all-button:active {
    transform: scale(0.93);
}
